# Data Cleaning of the 5 main data sets

## Table of contents

### [1. Libraries and Data importations](#1)
### [2. Data Cleaning](#2)
### [3. Exporting cleaned data sets](#3)

## 1. Libraries and Data importations
<div id='1'></div>

In [4]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import os

##to ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Creating a path to the data folder of the project
path = r'C:\Users\dacol\Documents\Data Project - careerfoundry\Europe health-deaths analysis\02 Data'

# Importing the tsv files
df_cod = pd.read_csv(os.path.join(path,'Original Data','estat_hlth_cd_acdr2.tsv'), sep='\t|,')
df_bed = pd.read_csv(os.path.join(path,'Original Data','estat_hlth_rs_bdsrg2.tsv'), sep='\t|,')
df_phy = pd.read_csv(os.path.join(path,'Original Data','estat_hlth_rs_physreg.tsv'), sep='\t|,')
df_exp = pd.read_csv(os.path.join(path,'Original Data','estat_hlth_sha11_hp.tsv'), sep='\t|,')
df_surv = pd.read_csv(os.path.join(path,'Original Data','estat_hlth_silc_08_r.tsv'), sep='\t|,')

## 2. Data Cleaning
<div id='2'></div>

In [6]:
df_cod.info()
df_bed.info()
df_phy.info()
df_exp.info()
df_surv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690414 entries, 0 to 690413
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   freq             690414 non-null  object
 1   unit             690414 non-null  object
 2   sex              690414 non-null  object
 3   age              690414 non-null  object
 4   icd10            690414 non-null  object
 5   geo\TIME_PERIOD  690414 non-null  object
 6   2011             690414 non-null  object
 7   2012             690414 non-null  object
 8   2013             690414 non-null  object
 9   2014             690414 non-null  object
 10  2015             690414 non-null  object
 11  2016             690414 non-null  object
 12  2017             690414 non-null  object
 13  2018             690414 non-null  object
 14  2019             690414 non-null  object
 15  2020             690414 non-null  object
 16  2021             690414 non-null  object
dtypes: object(17)
memory usage: 89.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   freq             801 non-null    object
 1   unit             801 non-null    object
 2   geo\TIME_PERIOD  801 non-null    object
 3   1993             801 non-null    object
 4   1994             801 non-null    object
 5   1995             801 non-null    object
 6   1996             801 non-null    object
 7   1997             801 non-null    object
 8   1998             801 non-null    object
 9   1999             801 non-null    object
 10  2000             801 non-null    object
 11  2001             801 non-null    object
 12  2002             801 non-null    object
 13  2003             801 non-null    object
 14  2004             801 non-null    object
 15  2005             801 non-null    object
 16  2006             801 non-null    object
 17  2007             801 non-null    object
 18  2008             801 non-null    object
 19  2009             801 non-null    object
 20  2010             801 non-null    object
 21  2011             801 non-null    object
 22  2012             801 non-null    object
 23  2013             801 non-null    object
 24  2014             801 non-null    object
 25  2015             801 non-null    object
 26  2016             801 non-null    object
 27  2017             801 non-null    object
 28  2018             801 non-null    object
 29  2019             801 non-null    object
 30  2020             801 non-null    object
 31  2021             801 non-null    object
 32  2022             801 non-null    object
dtypes: object(33)
memory usage: 206.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   freq             852 non-null    object
 1   unit             852 non-null    object
 2   geo\TIME_PERIOD  852 non-null    object
 3   1993             852 non-null    object
 4   1994             852 non-null    object
 5   1995             852 non-null    object
 6   1996             852 non-null    object
 7   1997             852 non-null    object
 8   1998             852 non-null    object
 9   1999             852 non-null    object
 10  2000             852 non-null    object
 11  2001             852 non-null    object
 12  2002             852 non-null    object
 13  2003             852 non-null    object
 14  2004             852 non-null    object
 15  2005             852 non-null    object
 16  2006             852 non-null    object
 17  2007             852 non-null    object
 18  2008             852 non-null    object
 19  2009             852 non-null    object
 20  2010             852 non-null    object
 21  2011             852 non-null    object
 22  2012             852 non-null    object
 23  2013             852 non-null    object
 24  2014             852 non-null    object
 25  2015             852 non-null    object
 26  2016             852 non-null    object
 27  2017             852 non-null    object
 28  2018             852 non-null    object
 29  2019             852 non-null    object
 30  2020             852 non-null    object
 31  2021             852 non-null    object
 32  2022             852 non-null    object
dtypes: object(33)
memory usage: 219.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8662 entries, 0 to 8661
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   freq             8662 non-null   object
 1   unit             8662 non-null   object
 2   icha11_hp        8662 non-null   object
 3   geo\TIME_PERIOD  8662 non-null   object
 4   1992             8662 non-null   object
 5   1993             8662 non-null   object
 6   1994             8662 non-null   object
 7   1995             8662 non-null   object
 8   1996             8662 non-null   object
 9   1997             8662 non-null   object
 10  1998             8662 non-null   object
 11  1999             8662 non-null   object
 12  2000             8662 non-null   object
 13  2001             8662 non-null   object
 14  2002             8662 non-null   object
 15  2003             8662 non-null   object
 16  2004             8662 non-null   object
 17  2005             8662 non-null   object
 18  2006             8662 non-null   object
 19  2007             8662 non-null   object
 20  2008             8662 non-null   object
 21  2009             8662 non-null   object
 22  2010             8662 non-null   object
 23  2011             8662 non-null   object
 24  2012             8662 non-null   object
 25  2013             8662 non-null   object
 26  2014             8662 non-null   object
 27  2015             8662 non-null   object
 28  2016             8662 non-null   object
 29  2017             8662 non-null   object
 30  2018             8662 non-null   object
 31  2019             8662 non-null   object
 32  2020             8662 non-null   object
 33  2021             8662 non-null   object
 34  2022             8662 non-null   object
 35  2023             8662 non-null   object
dtypes: object(36)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2380 entries, 0 to 2379
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   freq             2380 non-null   object
 1   reason           2380 non-null   object
 2   unit             2380 non-null   object
 3   geo\TIME_PERIOD  2380 non-null   object
 4   2008             2380 non-null   object
 5   2009             2380 non-null   object
 6   2010             2380 non-null   object
 7   2011             2380 non-null   object
 8   2012             2380 non-null   object
 9   2013             2380 non-null   object
 10  2014             2380 non-null   object
 11  2015             2380 non-null   object
 12  2016             2380 non-null   object
 13  2017             2380 non-null   object
 14  2018             2380 non-null   object
 15  2019             2380 non-null   object
 16  2020             2380 non-null   object
 17  2021             2380 non-null   object
 18  2022             2380 non-null   object
 19  2023             2380 non-null   object
dtypes: object(20)
memory usage: 372.0+ KB

In [7]:
#resizing all dfs by keeping only the variables from 2011 to 2021 in order to match the scope of the causes of deaths, and droping columns 'freq' since thery are redundant for the annual data frequency

df_cod = df_cod[['unit', 'sex', 'age', 'icd10', 'geo\TIME_PERIOD', '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ', '2017 ', '2018 ', '2019 ', '2020 ', '2021']]
df_bed = df_bed[['unit', 'geo\TIME_PERIOD', '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ', '2017 ', '2018 ', '2019 ', '2020 ', '2021 ']]
df_phy = df_phy[['unit', 'geo\TIME_PERIOD', '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ', '2017 ', '2018 ', '2019 ', '2020 ', '2021 ']]
df_exp = df_exp[['unit', 'icha11_hp', 'geo\TIME_PERIOD', '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ', '2017 ','2018 ', '2019 ', '2020 ', '2021 ']]
df_surv = df_surv[['reason', 'unit', 'geo\TIME_PERIOD', '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ', '2017 ', '2018 ','2019 ', '2020 ', '2021 ']]

In [8]:
#Striping column names in order to erase all white spaces in the headers

df_cod = df_cod.rename(columns=lambda x: x.strip())
df_bed = df_bed.rename(columns=lambda x: x.strip())
df_phy = df_phy.rename(columns=lambda x: x.strip())
df_exp = df_exp.rename(columns=lambda x: x.strip())
df_surv = df_surv.rename(columns=lambda x: x.strip())

In [9]:
# Striping all white spaces from the rest of the dataframes

#creating the function for striping all whitespaces
def whitespace_remover(dataframe):
    for i in dataframe.columns:
        if dataframe[i].dtype == 'object':
            dataframe[i] = dataframe[i].map(str.strip)
        else:
            pass

#Applying the whitespace_remover function to all dfs
whitespace_remover(df_cod)
whitespace_remover(df_bed)
whitespace_remover(df_phy)
whitespace_remover(df_exp)
whitespace_remover(df_surv)

In [10]:
#Replacing all values with letters ( 'e' for estimate), changing data types for all variables countaining numbers and some ': ' values that are Nan according to the metadata

df_cod[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']] = df_cod[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']].replace(to_replace = r'[a-z]',value = '', inplace=False, regex=True).apply(pd.to_numeric, errors='coerce')
df_bed[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']] = df_bed[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']].replace(to_replace = r'[a-z]',value = '', inplace=False, regex=True).apply(pd.to_numeric, errors='coerce')
df_phy[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']] = df_phy[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']].replace(to_replace = r'[a-z]',value = '', inplace=False, regex=True).apply(pd.to_numeric, errors='coerce')
df_exp[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']] = df_exp[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']].replace(to_replace = r'[a-z]',value = '', inplace=False, regex=True).apply(pd.to_numeric, errors='coerce')
df_surv[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']] = df_surv[['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']].replace(to_replace = r'[a-z]',value = '', inplace=False, regex=True).apply(pd.to_numeric, errors='coerce')

In [11]:
#Checking for duplicates
cod_dup = df_cod.duplicated().sum()
bed_dup = df_bed.duplicated().sum()
phy_dup = df_phy.duplicated().sum()
exp_dup = df_exp.duplicated().sum()
surv_dup = df_surv.duplicated().sum()

print(cod_dup,
      bed_dup,
      phy_dup,
      exp_dup,
      surv_dup)

0 0 0 0 0

In [12]:
#Checking for null values
cod_null = df_cod.isnull().sum()
bed_null = df_bed.isnull().sum()
phy_null = df_phy.isnull().sum()
exp_null = df_exp.isnull().sum()
surv_null = df_surv.isnull().sum()

print(cod_null,
      bed_null,
      phy_null,
      exp_null,
      surv_null)

unit                    0
sex                     0
age                     0
icd10                   0
geo\TIME_PERIOD         0
2011               137312
2012               138062
2013               114181
2014               113079
2015               112748
2016               107631
2017               103067
2018                55200
2019               104581
2020                84356
2021                84988
dtype: int64 unit                 0
geo\TIME_PERIOD      0
2011               108
2012               124
2013                68
2014                70
2015                70
2016                62
2017                62
2018                50
2019                50
2020                35
2021                35
dtype: int64 unit                0
geo\TIME_PERIOD     0
2011               84
2012               82
2013               44
2014               46
2015               46
2016               38
2017               38
2018               38
2019               47
2020               56
2021               66
dtype: int64 unit                  0
icha11_hp             0
geo\TIME_PERIOD       0
2011               3310
2012               2810
2013               1370
2014                652
2015                578
2016                540
2017                532
2018                482
2019                642
2020                717
2021                640
dtype: int64 reason                0
unit                  0
geo\TIME_PERIOD       0
2011               1230
2012               1160
2013               1120
2014               1130
2015               1130
2016               1100
2017               1040
2018                880
2019                700
2020                780
2021                160
dtype: int64

In [13]:
#Checking for null values as percentages
cod_null_perc = df_cod.isnull().sum()/(len(df_cod))*100
bed_null_perc = df_bed.isnull().sum()/(len(df_bed))*100
phy_null_perc = df_phy.isnull().sum()/(len(df_phy))*100
exp_null_perc = df_exp.isnull().sum()/(len(df_exp))*100
surv_null_perc = df_surv.isnull().sum()/(len(df_surv))*100

print(cod_null_perc,
      bed_null_perc,
      phy_null_perc,
      exp_null_perc,
      surv_null_perc)

unit                0.000000
sex                 0.000000
age                 0.000000
icd10               0.000000
geo\TIME_PERIOD     0.000000
2011               19.888357
2012               19.996987
2013               16.538048
2014               16.378434
2015               16.330492
2016               15.589342
2017               14.928289
2018                7.995203
2019               15.147578
2020               12.218176
2021               12.309716
dtype: float64 unit                0.000000
geo\TIME_PERIOD     0.000000
2011               13.483146
2012               15.480649
2013                8.489388
2014                8.739076
2015                8.739076
2016                7.740325
2017                7.740325
2018                6.242197
2019                6.242197
2020                4.369538
2021                4.369538
dtype: float64 unit               0.000000
geo\TIME_PERIOD    0.000000
2011               9.859155
2012               9.624413
2013               5.164319
2014               5.399061
2015               5.399061
2016               4.460094
2017               4.460094
2018               4.460094
2019               5.516432
2020               6.572770
2021               7.746479
dtype: float64 unit                0.000000
icha11_hp           0.000000
geo\TIME_PERIOD     0.000000
2011               38.212884
2012               32.440545
2013               15.816209
2014                7.527130
2015                6.672824
2016                6.234126
2017                6.141769
2018                5.564535
2019                7.411683
2020                8.277534
2021                7.388594
dtype: float64 reason              0.000000
unit                0.000000
geo\TIME_PERIOD     0.000000
2011               51.680672
2012               48.739496
2013               47.058824
2014               47.478992
2015               47.478992
2016               46.218487
2017               43.697479
2018               36.974790
2019               29.411765
2020               32.773109
2021                6.722689
dtype: float64

In [14]:
#Visualizing some missing data
df_bed[df_bed['2011'].isnull()]

,unit,geo\TIME_PERIOD,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
54,HAB_P,EL30,NaN,NaN,190.46,192.25,195.07,196.90,197.74,197.52,199.58,201.43,204.80
55,HAB_P,EL41,NaN,NaN,313.22,318.04,317.51,322.35,329.24,346.34,361.07,349.60,324.95
56,HAB_P,EL42,NaN,NaN,332.47,311.47,328.91,331.61,321.31,309.63,437.13,418.39,381.13
57,HAB_P,EL43,NaN,NaN,261.13,254.93,265.52,263.76,262.04,265.14,262.26,262.53,250.78
58,HAB_P,EL51,NaN,NaN,260.59,246.29,247.85,246.49,248.75,247.81,246.27,234.11,228.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,P_HTHAB,PL92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450.92,410.09,412.72,432.62
753,P_HTHAB,RS11,NaN,NaN,NaN,NaN,NaN,623.09,622.60,626.14,625.01,625.21,627.18
754,P_HTHAB,RS12,NaN,NaN,NaN,NaN,NaN,574.19,575.63,570.77,579.78,579.08,577.11
755,P_HTHAB,RS21,NaN,NaN,NaN,NaN,NaN,477.41,478.43,481.34,482.96,489.51,497.23
756,P_HTHAB,RS22,NaN,NaN,NaN,NaN,NaN,580.47,579.39,592.67,601.97,599.25,619.09

By reading the metadata from the data sets, missing data from countries is not imputed by Eurostat and may be added once the data is available.
I recon to follow the Eurostat methodology, and keep the missing data as is, eventhough some of the missing data goes up to 38% of all yearly data.

## 3. Exporting cleaned data sets
<div id='3'></div>

In [17]:
#Saving all cleaned dataframes to pikle format

df_cod.to_pickle(os.path.join(path,'Prepared Data','cod_cleaned.pkl'))
df_bed.to_pickle(os.path.join(path,'Prepared Data','bed_cleaned.pkl'))
df_phy.to_pickle(os.path.join(path,'Prepared Data','phy_cleaned.pkl'))
df_exp.to_pickle(os.path.join(path,'Prepared Data','exp_cleaned.pkl'))
df_surv.to_pickle(os.path.join(path,'Prepared Data','surv_cleaned.pkl'))